.header-mobile {
    background: #494949;
    width: 100vh;
    height: 90px;
    background-size: cover;
}

.header-mobile-block-logo {
    display: inline-block;
    padding: 8px 0px 0px 16px;
}

.header-mobile-logo {
    width: 75px;
    height: 75px;
}

.header-mobile-block-h1 {
    display: inline-block;
    vertical-align: 140%;
}

.header-mobile-h1 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 24px;
    color: #B7FBFF;
    margin: 0;
}

.header-back-button {
    display: inline-block;
    padding: 8px 0px 0px 16px;
}